<div class="comments card-content">
    <div class="card">
        {% for comment in post.comments %}
            <div class="card-content">
                <span class="card-title grey-text text-darken-4">{{ comment.content }}</span>
            </div>

        {% endfor %}
    </div>
    <div class="card">
        <div class="card-content">
            <form class="formComment" method="POST" action="{{path('nine_gag_addComment')}}">
                {{ form_widget(listFormComment[post.id].content, {'attr': {'class': 'col s8 offset-s2'} }) }}
                {{ form_widget(listFormComment[post.id].idPost, {'attr': {'value': post.id} }) }}
                {{ form_widget(listFormComment[post.id].save, {'attr': {'class': 'col s1 waves-effect waves-light btn btnSave'} }) }}
                {{ form_rest(listFormComment[post.id]) }}
            </form>
        </div>
    </div>
</div>
